
.wrapper {
  background: rgb(175, 175, 175);
  background-image: url('https://i.redditmedia.com/9L7zXU0zhq6Ea93mLaQV_9OWrKMnFvan9ZEsVMwGeV8.png?w=1024&s=1113528a64ce8db5b90a5cb1d4ddaaed');
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 100px;
}